= simple_form_for(@attendance_sheet, url: get_attendances_attendance_sheet_path(@attendance_sheet.id)) do |f|
  .form-inputs
    .row
      .col-md-4
        %label Select a date
        %input{id: 'attendance_date',name: 'attendance_date', value: Date.today, class: 'form-control', type: 'date'}
      .col-md-4
        = f.input :class, collection: @standards,
                  label: 'Select Class'
      .col-md-4
        .form-actions
          = f.button :submit, "Submit", class: 'btn btn-success'
      #attendance_table
        %br
        %table.table
          %tr
            %th Roll Number
            %th Name
            %th Mark Attendance
          = simple_form_for(@attendance_sheet, url: create_attendance_entries_attendance_sheet_path(@attendance_sheet.id)) do |q|
            .form-inputs
              - @students.each do |student|
                = q.simple_fields_for :attendance_entries do |a|
                  %tr
                    %td= student.roll_number
                    %td= student.name
                    %td= a.input :is_present, label: true, as: :boolean, input_html: {checked: "checked", "data-style"=>"round"}
            .form-actions
              = q.submit 'Mark Attendance', class: 'btn btn-large btn-success'