%nav.navbar.navbar-default.navbar-expand-sm.navbar-dark
  .container-fluid
    %a.navbar-brand{:href => root_path} Attendance Management
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Class', standards_path if current_user.admin? || current_user.principal?
        %li
          = link_to 'Student', students_path if current_user.admin? || current_user.principal?
        %li
          = link_to 'User', users_path if current_user.admin? || current_user.principal?
        %li
          = link_to 'Attendance' 
        %li.nav-link
          %a{:href => "#"}
            %span.fa.fa-user
              #{current_user.name}
        %li.nav-item
          = link_to 'LogOut', destroy_user_session_path, method: :delete, class: 'fa fa-sign-out'